body {
    background-color: rgb(30, 32, 43);
    color: #FFF;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
    font-size: 14px;
    line-height: 16px;
}

.ui.dropdown,
.ui.dropdown .menu>.item {
    text-align: center;
}

.ui.button {
    font-family: 'Electrolize', sans-serif;
}

.ui.dropdown .menu,
.ui.horizontal.segments {
    background-color: #1b1c25;
    color: #FFF !important;
}

.ui.dropdown .menu>.item,
.ui.dropdown .menu>.item:hover,
.ui.checkbox label:hover,
.ui.checkbox+label:hover,
.ui.checkbox label,
.ui.checkbox+label {
    color: #FFF !important;
}

.ui.inverted.segment,
.ui.inverted.segments .segment,
.ui.primary.inverted.segment {
    background-color: #1b1c25;
    color: rgba(255, 255, 255, .9);
}

.ui.black.button:hover,
.ui.black.buttons .button:hover,
.ui.black.button:focus,
.ui.black.buttons .button:focus,
.ui.black.button:active,
.ui.black.buttons .button:active {
    background-color: #232430;
}

.ui.black.button,
.ui.black.buttons .button,
.ui.black.message,
.ui.inverted.message {
    background-color: #1b1c25;
}

.ui.celled.grid>.row,
.ui.celled.grid>.column:not(.row),
.ui.celled.grid>.row>.column {
    -webkit-box-shadow: 0 -1px 0 0 #d4d4d500;
    box-shadow: 0 -1px 0 0 #d4d4d500;
}

.ui.form .grouped.fields {
    text-align: left;
}

#sidebar-btn {
    z-index: 1000;
    position: fixed;
    right: 0;
    box-shadow: 0 0 0 0px #fff !important;
}

.copyright {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 40%;
    right: 40%;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    box-shadow: 0 0 0 0px #fff !important;
}

.copyright>span {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

#viewer {
    z-index: 500;
}

#results {
    background-color: #232430;
    min-height: 0;
    padding: 0;
}

#results li {
    padding: 5px 10px;
    border-radius: 0 0 5px 5px;
    list-style-type: none;
}

#results li:hover {
    background-color: #05b8a069;
    border-radius: 5px;
}

#results li:active {
    background-color: #05b8a0;
    border-radius: 5px;
}

::selection {
    background-color: transparent;
    color: unset
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    background: center / cover no-repeat url("bg.jpg");
}

#MainColumn {
    padding-bottom: 32px;
}